.advanced-search {
  max-height: 300px;
  max-width: 90%;
  background-color: white;
  position: absolute;
  overflow-y: scroll;
  z-index: 99999999;
  .md-text-field-container--input {
    margin: 0;
  }
}
