/* Add here all your CSS customizations */
#lng-switch{
  font-size: 70%;
  padding: 4px 9px;
  cursor: pointer;
  text-transform: uppercase;
  min-width:31px;
}
#lng-switch:hover{
  text-decoration: underline;
}
/*RIH: Necesario para evitar 'desbordamiento' indeseado en las team cards*/
.fixed-height{
  height: 497px;
}