/* Add here all your CSS customizations */
#lng-switch{
  /*padding: 10px;*/
  position: fixed;
  top: 10px;
  right: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
#lng-switch:hover{
  text-decoration: underline;
}