#encounters-notification-bar {
  padding: 8px 30px;
  background: #a4d9d3;

  .fa-exclamation-circle {
    padding-right: 10px;
  }
  .fa-times {
    float: right;
  }
}

.app-sub-title {
  line-height: initial;
  font-size: 17px;
}

.app-main-title {
  font-size: 14px;
  color: white;
  line-height: initial;
  margin-top: 13px;
}
